.NavBar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFC700;
  height: 60px;
} 

.btn-container {
  border-radius: 10px;
  border: 1px solid;
  border-color: #000;
  margin-right: 18px;
  width: 97px;
  height: 30px;

}

.btn-container a{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2px;
  font-weight: bold;
}

.NavBar-container h2{

  font-size: 24px;
  padding-left: 18px;
}

.welcome-container span{
  display: none;
}

@media(min-width: 576px) {

.NavBar-container h2{

  padding-left: 24px;
}
}

@media(min-width: 768px) {

  
  .NavBar-container h2{
  
    padding-left: 31px;
  }

  .welcome-container span{
    display: unset;
    margin-right: 10px;
    font-weight: bold;
  }

  .welcome-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media(min-width: 1200px) {

.NavBar-container h2{

  padding-left: 50px;
}
}
